<mat-grid-list [cols]="isMobile ? 1 : 2" rowHeight="2:1">
  <mat-grid-tile matRipple  class="tuile" [style.background-image]="'url(/assets/img/chambre/chambre-exemple-1.jpg)'"></mat-grid-tile>
  <mat-grid-tile matRipple  class="tuile" [style.background-image]="'url(/assets/img/chambre/chambre-exemple-2.jpg)'"></mat-grid-tile>
  <mat-grid-tile matRipple  class="tuile" [style.background-image]="'url(/assets/img/chambre/chambre-exemple-3.jpg)'"></mat-grid-tile>
  <mat-grid-tile matRipple  class="tuile" [style.background-image]="'url(/assets/img/chambre/chambre-exemple-4.jpg)'"></mat-grid-tile>
  <mat-grid-tile matRipple  class="tuile" [style.background-image]="'url(/assets/img/chambre/chambre-exemple-5.jpg)'"></mat-grid-tile>
</mat-grid-list>
