.tuile {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // .infos {
  //   background: linear-gradient(135deg, rgba(18, 9, 4, .5), rgba(94, 83, 61, .7) 100%);
  // }
  mat-grid-tile-header {
    display: flex;
    flex-direction: row;
    height: fit-content;
    // width: 100%;
    .ligne {
      background-color: rgba(240, 212, 156);
      line-height: 0rem;
      height: .2rem;
      max-width: 2rem;
      width: 100%;
    }
    h1 {
      font-size: 1.5rem;
      line-height: 3rem;
      // height: 1.5rem;
      margin-bottom: 0;
    }
    .infos {
      margin-left: auto;
      vertical-align: middle;
      display: flex;
      .info {
        display: flex;
        * {
          font-size: 1rem;
          line-height: 1rem;
          height: 1rem;
        }
        mat-icon {
          font-size: 1.2rem;
        }
      }
    }
  }
  .voir {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    // background-color: rgba(240, 212, 156, 0.8);
  }
}

.mobile {
  mat-grid-tile-header {
    h1 {
      font-size: 1.1rem;
      line-height: 2rem;
      // margin-bottom: .5rem;
    }
  }
  .voir {
    // font-size: .4rem;
  }
}
