.page {

  section {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .corp {
    display: inline-block;
    width: 100%;
    .gauche {
      float: left;
      max-width: 48%;
    }
  }

  .description {
    max-width: 40rem;
    font-size: 1.2rem;
  }

  .diaporama {
    position: sticky;
    float: right;
    top: 7rem;
    max-width: 50%;
    width: 900px;
    margin-bottom: 2rem;
    & > div {
      margin-bottom: 2rem;
    }
  }

  .details, .tarifs {
    max-width: 30rem;
    font-size: 0.9rem;
    mat-list-item {
      .wrap {
        text-overflow: unset;
        white-space: unset;
      }
      &.grand {
        height: auto;
        padding: 1rem 0;
      }
    }
    .titre {
      font-size: 1rem;
    }
    .item {
      margin: 1rem 0rem 1rem 0rem;
    }
    * {
      color: white;
    }
  }

  .reserver {
    font-size: 1.5rem;
    padding: 1rem;
    // background-color: rgba(240, 212, 156, 0.2);
  }

  &.mobile {
    // padding: .5rem;
    .corp {
      div {
        max-width: 100%;
      }
    }

    .details, .tarifs {
      p {
        font-size: 0.5rem;
      }
    }
  }

}

.mobile {
  .diaporama {
    position: relative;
    top: 0;
    width: 100%;
  }
}
