<div id="contact" class="contenu page" [class.mobile]="isMobile">
  <span class="texte" [style.flex]="1">
    <section>
      <h2>{{'coordonnées' | translate | titlecase}}<hr></h2>
      <div class="contenu"  *ngFor="let contact of contacts">
        <div class="bouton" [ngSwitch]="contact.type">
            <a mat-fab class="transparent-2" *ngSwitchCase="'adresse'"><mat-icon>mail</mat-icon></a>
            <a href="" mat-fab class="transparent-2" *ngSwitchCase="'gps'"><mat-icon>location</mat-icon></a>
            <a href="tel:{{contact.valeur}}" mat-fab class="transparent-2" *ngSwitchCase="'téléphone'"><mat-icon>phone</mat-icon></a>
            <a href="mailto:{{contact.valeur}}" mat-fab class="transparent-2" *ngSwitchCase="'email'"><mat-icon>alternate_email</mat-icon></a>
            <a href="{{contact.valeur}}" mat-fab class="transparent-2" *ngSwitchCase="'facebook'"><img [style.height.rem]="1.5" src="../../assets/icons/facebook-2.svg"></a>
            <a href="{{contact.valeur}}" mat-fab class="transparent-2" *ngSwitchDefault><mat-icon>arrow</mat-icon></a>
        </div>
        <div [ngSwitch]="contact.type">
          <p *ngSwitchCase="'facebook'">Facebook</p>
          <p *ngSwitchCase="'twitter'">Twitter</p>
          <p *ngSwitchCase="'instagram'">Instagram</p>
          <p *ngSwitchDefault [innerHTML]="contact.valeur"></p>
        </div>
      </div>
    </section>
    <section>
      <h2>{{'réseaux sociaux' | translate | titlecase}}<hr></h2>
      <div class="contenu" *ngFor="let reseauSocial of reseauxSociaux">
        <div class="bouton">
          <a href="{{reseauSocial.lien}}" mat-fab [ngSwitch]="reseauSocial.type" [style.background-color]="'rgba(0, 47, 255, 0.5)'">
            <img [style.height.rem]="1.5" [src]="
              reseauSocial.type == 'facebook' ? '../../assets/icons/facebook-2.svg' :
              ''
            ">
          </a>
      </div>
    </div>
    </section>
  </span>
  <span class="image" [style.flex]="2" [style.minHeight.px]="500">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d709955.1789534858!2d5.866811247217143!3d45.96601797911014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478bf6c4ac66a88f%3A0xe84d9e4b0cc192d4!2s880%20Route%20de%20la%20Culaz%2C%2074450%20Le%20Grand-Bornand!5e0!3m2!1sfr!2sfr!4v1595863704648!5m2!1sfr!2sfr" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </span>
</div>
