<app-fond></app-fond>
<div class="gradiant">
  <app-navigation></app-navigation>
  <!-- <div #contenu class="content" [class.mobile]="isMobile" [class.medium]="isMedium" (scroll)="scroll($event)"> -->
  <div #contenu class="content" [class.mobile]="breakpointService.isMobile || breakpointService.isTablet">
    <section id="page">
      <router-outlet></router-outlet>
    </section>
    <section #basDePage id="bas-de-page" class="contenu">
      <div class="colonne">
        <div>Chalet le Gypaète | chalet-gypaete.fr © {{ date | date: 'yyyy' }}</div>
        <div>Version {{version}}</div>
        <div>
          {{'site réalisé par' | translate | premiereLettreMaj}}
          <a href="https://twitter.com/Lupogryph" [style.marginLeft]="'0.5rem'">
            <img [style.verticalAlign]="'middle'" src="/assets/img/lupogryph.svg" height="35" alt="Lupogryph">
          </a>
        </div>
      </div>
    </section>
  </div>
  <div *ngIf="top && !bottom" class="indice-vers-le-bas" @afficherMasquer>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
</div>
