<app-fond></app-fond>
<div class="gradiant">
  <app-navigation></app-navigation>
  <div #contenu class="content" [class.mobile]="isMobile" [class.medium]="isMedium" (scroll)="scroll($event)">
    <section id="page">
      <router-outlet></router-outlet>
    </section>
    <section #basDePage id="bas-de-page">
      <div class="colonne">
        <div>Chalet le Gypaète | gypaete.fr © 2020</div>
      </div>
      <div class="colonne">
        <div>▲ Version bêta, l'ensemble des fonctionalités du site ne sont pas encore disponible ▲</div>
      </div>
      <div class="colonne">
        <div>Site réalisé par <a href="https://www.facebook.com/Lupogryph-108136754324483/">Lupogryph</a></div>
      </div>
    </section>
  </div>
  <div *ngIf="top && !bottom" class="indice-vers-le-bas" @afficherMasquer>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
</div>
