<app-fond></app-fond>
<div class="gradiant">
  <app-navigation></app-navigation>
  <div #contenu class="content" [class.mobile]="isMobile" [class.medium]="isMedium" (scroll)="scroll($event)">
    <section id="page">
      <router-outlet></router-outlet>
    </section>
    <section #basDePage id="bas-de-page">
      <button mat-button (click)="logTopBottom()">LOG</button>
    </section>
  </div>
  <div *ngIf="top && !bottom" class="indice-vers-le-bas" @afficherMasquer>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
</div>
