<div class="bandeau" [class.mobile]="isMobile">
  <div class="mobile-navigation" *ngIf="isMobile">
    <button mat-icon-button [matMenuTriggerFor]="mobileNavigationMenu"><mat-icon class="icon">menu</mat-icon></button>
    <mat-menu #mobileNavigationMenu="matMenu" class="navigation-menu mobile">
      <ng-container *ngFor="let route of routes">
        <button mat-menu-item [routerLink]="route.lien" routerLinkActive="router-link-active" [routerLinkActive]="'active'" ><mat-icon>{{route.icone}}</mat-icon>{{route.nom[translateService.currentLang]}}</button>
      </ng-container>
      <button mat-menu-item [matMenuTriggerFor]="mobileLangueMenu" class="choix-langue"><mat-icon class="flag-icon" [class]="'flag-icon-'+(translateService.currentLang === 'en' ? 'gb' : translateService.currentLang)"></mat-icon><span>Langue</span></button>
      <mat-menu #mobileLangueMenu="matMenu" class="navigation-menu">
        <button mat-menu-item class="choix-langue" (click)="translateService.use('fr')"><span class="flag-icon flag-icon-fr"></span>Français</button>
        <button mat-menu-item class="choix-langue" (click)="translateService.use('en')"><span class="flag-icon flag-icon-gb"></span>English</button>
        <button mat-menu-item class="choix-langue" (click)="translateService.use('de')"><span class="flag-icon flag-icon-de"></span>Deutsch</button>
      </mat-menu>
    </mat-menu>
  </div>
  <div class="brand">
    <div class="titre" [class.mobile]="isMobile">
      <img class="image" src="assets/img/gypaete-draw-sd.png" alt="gypaete">
      <span class="texte">Chalet Le Gypaète</span>
    </div>
  </div>
  <div class="navigation" *ngIf="!isMobile">
    <ng-container *ngFor="let route of routes">
      <button mat-button [routerLink]="route.lien" routerLinkActive="router-link-active" [routerLinkActive]="'active'" >{{route.nom[translateService.currentLang]}}</button>
    </ng-container>
    <button mat-button [matMenuTriggerFor]="langueMenu"><span class="flag-icon" [class]="'flag-icon-'+(translateService.currentLang === 'en' ? 'gb' : translateService.currentLang)"></span></button>
    <mat-menu #langueMenu="matMenu" class="navigation-menu">
      <button mat-menu-item class="choix-langue" (click)="translateService.use('fr')"><span class="flag-icon flag-icon-fr"></span>Français</button>
      <button mat-menu-item class="choix-langue" (click)="translateService.use('en')"><span class="flag-icon flag-icon-gb"></span>English</button>
      <button mat-menu-item class="choix-langue" (click)="translateService.use('de')"><span class="flag-icon flag-icon-de"></span>Deutsch</button>
    </mat-menu>
  </div>
</div>
