.bandeau {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3rem;
  max-width: 100%;
  max-height: 9rem;
  height: 6rem;
  box-shadow: 0 0 1em rgba(18, 9, 4, 0.5);
  .brand {
    display: flex;
    flex: auto;
    flex-direction: row;
    .titre {
      display: flex;
      flex-direction: column;
      align-items: center;
      .image {
        flex: auto;
        height: 4rem;
      }
      .texte {
        flex: auto;
        font-size: 2rem;
        line-height: 1.9rem;
        // margin-top: -1em;
        color: #f0d49c;
        text-transform: uppercase;
        text-align: center;
      }
      &.mobile {
        .image {
          height: 2.5rem !important;
        }
        .texte {
          font-size: 1.2rem !important;
          line-height: 1rem !important;
        }
      }
    }
  }
  &.mobile {
    padding: .5rem;
    height: 4rem;
    .brand {
      flex: auto;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
    }
  }
  .mobile-navigation {
    color: #f0d49c;
    .mat-icon-button {
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
    }
    .mat-icon {
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
    }
  }
  .navigation {
    display: flex;
    margin-left: auto;
    color: #f0d49c;
    button {
      flex: auto;
      flex-wrap: wrap;
      font-size: 1.2rem;
      padding: 1.5rem 1.5rem;
      mat-icon {
        margin-right: 1rem;
      }
      &.active {
        // background-color: rgba(94, 83, 61, 0.4);
        background-color: rgba(240, 212, 156, 0.2);
      }
      &:not(:first-child):not(:last-child) {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}

.choix-langue {
  .flag-icon {
    margin-right: 1rem;
  }
}

::ng-deep .navigation-menu {
  background-color: rgba(240, 212, 156);
  &.mobile {
    margin-top: .5rem;
  }
  .mat-menu-item.active {
    background-color: rgba(48, 23, 12, 0.5);
    // color: rgba(240, 212, 156);
    * {
      color: rgba(240, 212, 156);
    }
  }
}

.customize+* .mat-menu-panel {
  background: red;
}

@media screen and (max-width: 1366px) {
  .bandeau {
    // display: flex;
    // flex-direction: column;
    // padding: 1rem 0rem;
    .titre {
      // display: flex;
      // flex: auto;
      // flex-direction: column;
      align-items: center;
      .image {
        flex: auto;
        height: 3rem !important;
      }
      .texte {
        flex: auto;
        font-size: 1.5rem !important;
        // line-height: 2em;
        color: #f0d49c;
        text-transform: uppercase;
      }
    }
    .navigation {
      display: flex;
      // flex-direction: column;
      // margin-left: unset;
      // margin-top: 1rem;
      // color: #f0d49c;
      // width: 90%;
      button {
        flex: auto;
        flex-grow: 1;
        flex-wrap: unset;
        font-size: 1.5em;
        // height: 3rem;
        &.active {
          // background-color: rgba(94, 83, 61, 0.4);
          background-color: rgba(240, 212, 156, 0.2);
        }
        &:not(:first-child):not(:last-child) {
          margin-left: unset;
          margin-right: unset;
        }
      }
    }
  }
}

