.bandeau {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3rem;
  // background: rgba(18, 9, 4, 0.2) 100%;
  // background: linear-gradient(0deg, rgba(18, 9, 4, 0.3), rgba(94, 83, 61, 0.3) 100%);
  box-shadow: 0 0 1em rgba(18, 9, 4, 0.5);
  .titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    .image {
      flex: auto;
      height: 5em;
    }
    .texte {
      flex: auto;
      font-size: 3em;
      line-height: .9em;
      // margin-top: -1em;
      color: #f0d49c;
      text-transform: uppercase;
    }
  }
  .navigation {
    display: flex;
    margin-left: auto;
    color: #f0d49c;
    button {
      flex: auto;
      flex-wrap: wrap;
      font-size: 1.5em;
      height: 4em;
      padding: 0 1em;
      &.active {
        // background-color: rgba(94, 83, 61, 0.4);
        background-color: rgba(240, 212, 156, 0.2);
      }
      &:not(:first-child):not(:last-child) {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}

.choix-langue {
  .flag-icon {
    margin-right: 1em;
  }
}

@media screen and (orientation: portrait) {
  .bandeau {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    // background: rgba(18, 9, 4, 0.2) 100%;
    // background: linear-gradient(0deg, rgba(18, 9, 4, 0.3), rgba(94, 83, 61, 0.3) 100%);
    box-shadow: 0 0 1em rgba(18, 9, 4, 0.5);
    .titre {
      display: flex;
      flex-direction: column;
      align-items: center;
      .image {
        flex: auto;
        height: 4em;
      }
      .texte {
        flex: auto;
        font-size: 2em;
        // line-height: 2em;
        color: #f0d49c;
        text-transform: uppercase;
      }
    }
    .navigation {
      display: flex;
      margin-left: auto;
      color: #f0d49c;
      button {
        flex: auto;
        flex-wrap: wrap;
        font-size: 1.5em;
        height: 4em;
        padding: 0 1em;
        &.active {
          // background-color: rgba(94, 83, 61, 0.4);
          background-color: rgba(240, 212, 156, 0.2);
        }
        &:not(:first-child):not(:last-child) {
          margin-left: 15px;
          margin-right: 15px;
        }
      }
    }
  }
}

