
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$le-gypaete-front-primary: mat-palette($mat-indigo);
$le-gypaete-front-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$le-gypaete-front-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$le-gypaete-front-theme: mat-light-theme(
  $le-gypaete-front-primary, $le-gypaete-front-accent, $le-gypaete-front-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($le-gypaete-front-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
  font-size: 2rem !important;
  line-height: 2.5rem !important;
  // border-bottom: .2rem solid rgba(240, 212, 156);
  // padding-bottom: .7rem;
  // margin: 1em 0 1em 0 !important;
  hr, .trait {
    max-width: 5rem;
  }
  .mobile & {
    font-size: 1.5rem !important;
    line-height: 1.7rem !important;
  }
}
h2 {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
  // border-bottom: .2rem solid rgba(240, 212, 156);
  // padding-bottom: .7rem;
  hr, .trait {
    max-width: 3rem;
  }
  .mobile & {
    font-size: 1.3rem !important;
    line-height: 1.5rem !important;
  }
}
h3 {
  font-size: 1.2rem !important;
  line-height: 2rem !important;
  // border-bottom: .2rem solid rgba(240, 212, 156);
  // padding-bottom: .7rem;
  hr, .trait {
    max-width: 1.5rem;
  }
  .mobile & {
    font-size: 1.0rem !important;
    line-height: 1.2rem !important;
  }
}

h1, h2, h3 {
  color: rgb(220, 220, 220) !important;
  hr, .trait {
    margin-top: .5rem;
    border: none;
    margin-left: 0;
    display: block;
  }
}

hr, .trait {
  background-color: rgba(240, 212, 156);
  line-height: 0rem;
  height: .2rem;
  max-width: 5rem;
  width: 100%;
  align-self: start;
}
p {
  margin-top: 1rem !important;
  font-size: 1.3rem !important;
  line-height: 1.6rem !important;
  color: rgb(220, 220, 220) !important;
  .mobile & {
    font-size: 1.1rem !important;
    line-height: 1.4rem !important;
  }
}

button, a {
  color: rgb(220, 220, 220);
  &.transparent {
    background-color: rgba(94, 83, 61, .8) !important;
  }
  &.transparent-1 {
    background-color: rgba(94, 83, 61, .5) !important;
  }
  &.transparent-2 {
    background-color: rgba(240, 212, 156, 0.2) !important;
  }
  &.bordure {
    color: rgb(220, 220, 220);
    border-color: rgba(240, 212, 156) !important;
    background-color: unset !important;
  }
  &.avec-icone {
    mat-icon {
      margin-right: 1em;
    }
  }
}

.page {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  color: white;
  &.mobile {
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  section {
    margin-bottom: 2rem;
  }
}

.contenu {
  padding-bottom: 1rem;
  display: flex;
  flex-flow: row;
  &.inverse {
    flex-flow: row-reverse;
  }
  & > span, & > div {
    margin: 0 1rem 0 1rem;
    flex: 1;
  }
  &.mobile {
    flex-wrap: wrap;
    flex-direction: column;
    & > span, & > div {
      margin: 1rem 0 1rem 0;
    }
  }
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &.ombre {
    box-shadow: .0em .0em 2em .5em rgba(0, 0, 0, .7);
  }
  * {
    height: 100%;
    width: 100%;
    box-shadow: .0em .0em 2em .5em rgba(0, 0, 0, .7);
  }
}

img {
  //width: 100%;
  max-width: 100%;
}


mat-list {
  * {
    color: white;
  }
  &.en-ligne {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    mat-list-item {
      flex: 1;
    }
  }
}


mat-divider {
  border-top-color: #ffffff92 !important;
}
