.page {
  padding: 1rem 5rem;
  color: white;

  .corp {
    display: inline-block;
    width: 100%;
    .gauche {
      float: left;
      max-width: 49%;
      & > div {
        margin-right: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  .tete {
    display: flex;
    flex-direction: row;
    height: 6rem;
    width: 100%;
    &>:first-child {
      margin-right: 1rem;
    }
    &>:not(:first-child):not(:last-child) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &>:last-child {
      margin-left: 1rem;
    }
  }

  .description {
    max-width: 40rem;
    font-size: 1.2rem;
  }

  .diaporama {
    position: sticky;
    float: right;
    top: 7rem;
    max-width: 50%;
    width: 700px;
    margin-bottom: 2rem;
    img {
      max-width: 100%;
      margin: 1em;
      box-shadow: .0em .0em 2em .5em rgba(0, 0, 0, .7);
    }
  }

  .details, .tarifs {
    max-width: 30rem;
    * {
      color: white;
    }
  }

  .reserver {
    font-size: 1.5rem;
    padding: 1rem;
    // background-color: rgba(240, 212, 156, 0.2);
  }

  .titre {
    margin-bottom: 1rem;
    .trait {
      background-color: rgba(240, 212, 156);
      line-height: 0rem;
      height: .2rem;
      width: 100%;
    }
  }


  &.mobile {
    padding: .5rem;
    .corp {
      div {
        max-width: 100%;
      }
    }
  }
}

.mobile {
  .diaporama {
    position: relative;
    top: 0;
    width: 100%;
  }
}
