.contenu {
  margin-left: 10rem;
  margin-right: 10rem;
  &.mobile {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#accueil {
  display: flex;
  height: calc(100vh - 10rem);
  flex-flow: column wrap;
  .haut {
    flex: 1;
    align-self: flex-start;
  }
  .milieu {
    flex: 2;
    // align-self: center;
    display: flex;
    flex-flow: row wrap;
  }
  .bas {
    flex: 2;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
}

button.saison {
  position: absolute;
  bottom: 1em;
  left: 1em;
  background-color: rgba(94, 83, 61, .5);
}

.fond-controle {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  button {
    flex: auto;
    background-color: rgba(94, 83, 61, .5);
  }
}

.accroche {
  flex: auto;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  max-width: 60rem;
  .mobile & {
    max-width: calc(100vw - 4rem);
  }
}

.social {
  flex: auto;
  color: rgb(220, 220, 220);
  border-color: rgba(240, 212, 156);
  &:hover {
    color: rgba(240, 212, 156);
    .social-logo-draw {
      fill: rgba(240, 212, 156);
    }
  }
  mat-icon {
    margin-right: 1em;
  }
  .social-logo {
    // line-height: 4em;
    height: 3rem;
  }
}
