<span class="accueil" [class.mobile]="isMobile">
  <span class="accroche" [class.mobile]="isMobile">
    <h1 [@flyInOut]="accrocheNumero">{{accroches[accrocheNumero].titre}}</h1>
    <div class="ligne" [@ligneAccroche]="accrocheNumero"></div>
    <p [@flyInOut]="accrocheNumero">{{accroches[accrocheNumero].texte}}</p>
  </span>
</span>

<button class="saison" mat-mini-fab (click)="changerSaison($event)">
  <mat-icon *ngIf="saison == 'été'">ac_unit</mat-icon>
  <mat-icon *ngIf="saison == 'hiver'">wb_sunny</mat-icon>
</button>
<div class="fond-controle">
  <button class="fond-precedent" mat-mini-fab (click)="fondService.precedent()" (click)="accrochePrecedente()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button class="fond-suivant" mat-mini-fab (click)="fondService.suivant()" (click)="accrocheSuivante()">
    <mat-icon>navigate_next</mat-icon>
  </button>
  <button class="fond-demarrer-arreter" mat-mini-fab (click)="fondService.demarrerArreter()">
    <span *ngIf="fondService.defilement.getValue(); else fondDemarrer"><mat-icon >pause</mat-icon></span>
    <ng-template #fondDemarrer><mat-icon>play_arrow</mat-icon></ng-template>
  </button>
</div>
