.accueil {
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  height: 100%;
  flex-flow: row wrap;
  &.mobile {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

button.saison {
  position: absolute;
  bottom: 1em;
  left: 1em;
  background-color: rgba(94, 83, 61, .5);
}

.fond-controle {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  button {
    flex: auto;
    background-color: rgba(94, 83, 61, .5);
  }
}

.accroche {
  flex: auto;
  align-self: center;
  max-width: 60rem;
  min-width: 30rem;
  color: rgb(220, 220, 220);
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    border-bottom: .2rem solid rgba(240, 212, 156);
    padding-bottom: .7rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(220, 220, 220);
  }
  &.mobile {
    flex: auto;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    min-width: 50%;
    h1 {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.2;
    }
  }
}
