.bouton {
  align-self: center;
  flex-grow: 0;
  a {
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
  }
}

.epis {
  height: 1em;
  margin-left: -0.5em;
}
